.left{
    font-weight: 700;
    font-size: 24px;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}
.firstSection > div{
    width: 30%;
}

.leftSection{
  
    width: 50%;
    font-size: 2rem;
}

.rightSection{
   
    width: 50%;
}
.myPhoto{
    border-radius: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.about{
  
    font-size: 1.2rem;
    margin: 0 15%;
    line-height: 1.6;
}
.purple{
    color: rgb(223, 28, 223);
    font-weight: bold;
    font-family: 'Arial Black', Gadget, sans-serif;
}