* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}


body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(315deg, rgb(98, 98, 182) 0%, rgb(39, 38, 38) 74%);
    color: white;

}

a {
    text-decoration: none;
    color: white;

}

button {
    background-color: transparent;
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}

button:hover {
    background-color: rgb(119, 126, 121);
    color: rgb(98, 98, 182);
    transition: 0.3s;

}

footer {
    background-color: rgb(39, 38, 38);
    text-align: center;
    padding: 15px 0;
    font-size: medium;

}