*{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;

    }


    body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(98, 98, 182);
    color: white;
    }